{% extends "index.html" %}
{% load staticfiles %}
{% block content %}

{% include "includes/navbar_main.html" %}
<div id="wrapper">

{% if page == 'home' %}
    {% include "includes/home_landing.html" %}
{% elif page == 'authors' %}
  {% include "includes/Author_page.html" %}
{% elif page == 'author_about' %}
    {% include "includes/Author_content.html" %}
{% elif page == 'register' %}
    {% include "registration/signup.html" %}
{% elif page == 'user_profile' %}
    {% include "includes/user_profile.html" %}
{% elif page == 'author_articles_news_articles' %}
    {% include "includes/author_articles_news_articles.html" %}
{% endif %}
</div>


{% endblock %}
