<!DOCTYPE html>
<html lang="en">
<head>
{% load staticfiles %}
<meta charset="utf-8"/>
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.min.css'%}" />
<link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}" />
<meta name="description" content= "{{ article.content }}" >
<meta name="title" content= "{{ article.title }}" >
<!--OpenGraph Meta Data -->
<meta property="og:url" content="{{ request.path }}" />
<meta property="og:type" content="article" />
<meta property="og:title" content= "{{ article.title }}" />
<meta property="og:description" content="{{ article.content }}" />
<meta property="og:image" content="{% static 'img/Ole/logo.jpg' %}" />
<meta property="og:site_name" content="Ole Mundo" />

<title>{{ article.title }}</title>
<!-- Bootstrap core CSS -->
<link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
<!-- Custom styles for this template -->
<link href="css/blog-post.css" rel="stylesheet">

<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = 'https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v3.0';
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>
<!-- Schema.org Markup Data -->
<script type="application/ld+json">
  {
    "@context":"http://schema.org",
    "@type":"NewsArticle",
    "mainEntityOfPage": {
      "@type": "WebPage",
      "@id": "{{ request.get_full_path }}"
    },
    "headline": "{{ article.title }}",
    "image": [
      "{% static 'img/Ole/logo.jpg' %}"
    ],
    "datePublished": "{{ article.created_on }}",
    "dateModified": "{{ article.created_on }}",
    "name": "{{ article.title }}",
    "author": {
      "@type": "Person",
      "name": "{{ article.author }}"
    },
    "publisher": {
     "@type": "Organization",
     "name": "Ole Mundo",
     "logo": {
       "@type": "ImageObject",
       "url": "{% static 'img/Ole/logo.jpg' %}"
      }
    },
    "description": "{{ article.content }}"
  }
  </script>
</head>

<body class="body">
  <div>
    {% block content%}
    {% endblock %}
  </div>
</body>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<!-- Include all compiled plugins (below), or include individual files as needed -->
<script src="{% static 'js/bootstrap.min.js' %}"></script>
<script src="{% static 'js/bootstrap.js' %}"></script>
<script src="{% static 'js/npm.js' %}"></script>
<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
