{% extends "index.html" %}
{% load staticfiles %}
{% block content %}

{% include "includes/navbar_main.html" %}
<h1>Temp User Profile Layout</h1>

<div class="container-fluid">
  <div class = "row content">
    <div class="col-sm-3 sidenav">
      <img style="max-width:200px" class="img-thumbnail " src="{% static "img/Temp_profile.jpeg" %}">
      <h3>{{  user.username  }} Profile</h3>
      <ul>
        <li><b>Joined: {{  user.date_joined|date:"F-Y"   }}</b></li>
        <li><b>Likes: {{ likes }}</b></li>
        <li><b>Comments</b></li>
      </ul><br>
    </div>
    <div class="col-sm-8">
      <div class="panel panel-default">
          <div class = "panel-heading">
            <h4>{{  user.username  }} Bio</h4>
          </div>
          <div class="panel-body">
            <p>This is a Bio which the User can write about themselves. We
            will need to add an edit function to User account that way the user
            can edit thier profile and do other stufff and fill up this with a few
            more words. </p>
        </div>
        </div>
        <div class="panel panel-default">
          <div class = "panel-heading">
           <h4>Favorite Articles</h4>
          </div>
          <table class="table table-striped">
            <thead>
              <tr>
                <th>Article</th>
                <th>Author</th>
                <th>Something?</th>
              </tr>
            </thead>
            <tbody>
            {% for article in liked_articles %}
              <tr>
                <td>{{ article }}</td>
                <td>{{ article.author }}</td>
                <td>{{ article.content }}</td>
              </tr>
            {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>


{% endblock %}
