

<div class = "">
  <p>
    <a class="btn btn-info btn-lg likes" onclick="addLike()" id = "show_results">
     <span class="glyphicon glyphicon-heart" ></span> Likes: {{ object.likes }}
    </a>
  </p>
</div>

<script>
{% with slug=object.slug|stringformat:"s" %}
function addLike(){
  $.ajax({
    type: "POST",
    url: "/articles/{{ slug }}/like/",
  {% endwith %}
    data: {'slug': '{{ object.slug }}', 'csrfmiddlewaretoken': '{{ csrf_token }}'},
    dataType: "json",
    success: function(response) {
      document.getElementById("show_results").innerHTML = '<span class="glyphicon glyphicon-heart" ></span> Likes: ' + response.likes_count;
      alert(result)
      alert(response.likes_count);
    },
  });
}
</script>
