
#sign-up {
  background-color: #3A9E34;
}
#log-in {
  background-color: #3A9E34;
}
#field{
  float:right;
}
#bio-table{
  -webkit-overflow-scrolling: touch;
  max-height:150px;
}

#right-main{
  max-height:300px;
}

.right-side {
    background-color: blue;
    float: none;
    display: table-cell;
    border: 1px solid;
}

.left-side {
    background-color: red;
    float: none;
}

.navbar-default {
  background-color: #3a9e34;
  height: 4.5em;
 }
.navbar-default .navbar-nav > li > a{
  color:white;
  font-size: 1.4em;
}
body{
  background-color: #e4e4e4;
}
#navbar{
  background-color: #3a9e34;
}
#id_content{
  height:5em;
}
.comment_form > label{
vertical-align: top;
}
.text{
display: block;
overflow: hidden;
white-space: pre;
text-overflow: ellipsis;
}

#main_img{
  background-image: url("/static/img/home/temp_bg_ole.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  position: static;
  width: 100%;
  z-index: -1;
}
#front-text > h1{
    color: white;
}
#main_img > p{
    color: white;
}

#main_logo{
  margin-top: -0.5em;
  width: 5.5em;
  max-height: 2.8em;
}
.item{

}
.carousel-caption{
  position: relative;
  margin-left: 100px;
}
