/*
Nav Bar Top:
  Below is CSS for the navigatoin Bar
*/
.navbar-default {
  background-color: #3a9e34;
  height: 4.5em;
 }
.navbar-default .navbar-nav > li > a{
  color:white;
  font-size: 1.4em;
}
#navbar{
  background-color: #3a9e34;
}
/*END NAVBAR CSS*/
/*
Begin Home Page CSS
*/
.right-side {
    background-color: blue;
    float: right;
    display: table-cell;
}
#right-main{
  max-height:300px;
  max-width:100%;
}
.left-side {
    background-color: red;
    float: left;
}

#main_img{
  background-image: url("/static/img/home/temp_bg_ole.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  position: static;
  width: 100%;
  z-index: -1;
}

/* END HOME PAGE CSS */
#sign-up {
  background-color: #3A9E34;
}
#log-in {
  background-color: #3A9E34;
}
#field{
  float:right;
}
#bio-table{
  -webkit-overflow-scrolling: touch;
  max-height:150px;
}






body{
  background-color: #e4e4e4;
}
#id_content{
  height:5em;
}
.comment_form > label{
vertical-align: top;
}
.text{
display: block;
overflow: hidden;
white-space: pre;
text-overflow: ellipsis;
}

#front-text > h1{
    color: white;
}
#main_img > p{
    color: white;
}

#main_logo{
  margin-top: -0.5em;
  width: 5.5em;
  max-height: 2.8em;
}
.item{

}
.carousel-caption{
  position: relative;
  margin-left: 100px;
}
/*
Author List Page
*/
.disply-author{
  display: inline-block;
  overflow-y: scroll;
  max-width: 90%;

  max-height: 200px;
}
